/* this is for index.html */
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image:url(image/pexels-donald-tong.jpg);
	background-size: cover;	
	background-position: center;
	opacity: 0.9;

}


.logo{
	
	height: 85px;
	width: 85px;
	cursor: pointer;
	opacity: 100%;
}
.transbox {
  margin: 30px;
  background-color: blanchedalmond;
  border: 1px solid black;
  opacity: 0.2;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 20px ;
	position: relative;

}

.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;

}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.4s;
}

.navbar ul li:hover::after{
	width: 100%;

}

.content{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: blanchedalmond;
}

.content h1{
	font-size: 70px;
	margin-top: 20px;
}

.content h3{
	font-size: 20px;
}

.more a{
	
	text-decoration-color: blanchedalmond;
	color: blanchedalmond;
	width: 200px;
	padding: 200px 0;
	text-align: center;
	margin: 10px;
	background: transparent;
	cursor: pointer;
	transition: 0.4s;

}

.more a:hover{

	width: 100%;
}


/* this css is for home.html */
.homebanner{
	width: 100%;
	height: 100vh;
	background-image:url(image/backimage.jpg);
	background-size: cover;	
	background-position: center;
	opacity: 0.9;

}



